.ui.form {
    .field, .input {
        width: 100% !important;
    }
}

.ui.label {
    cursor: pointer;
}

.react-datepicker-wrapper {
    width: 100%;
}

.ui.form {
    .field {
        .datepicker {
            width: 100%;
        }
    }
}